.cards {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 148px 92px 148px;
}

@media screen and (max-width: 1024px) {
  .cards {
    padding: 0 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    padding: 0 24px 90px 24px;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    padding: 0 0 66px 0;
  }
}
