.footer__column-link {
  color: white;
  text-decoration: none;
  margin-right: 18px;
  transition: 0.5s linear;
}

.footer__column-link:last-child {
  margin-right: 0;
}

.footer__column-link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 425px) {
  .footer__column-link {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__column-link:last-child {
    margin-bottom: 0;
  }
}
