.card__paragraph {
  margin: 0;
  font-weight: 400;
  line-height: 163%;
  font-size: 1.4vw;
}

.card__paragraph:nth-child(2n) {
  padding-top: 26px;
}

@media screen and (max-width: 1024px) {
  .card__paragraph {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 768px) {
  .card__paragraph {
    font-size: 2vw;
  }
}

@media screen and (max-width: 425px) {
  .card__paragraph:nth-child(2n) {
    padding-top: 25px;
  }

  .card__paragraph {
    font-size: 5vw;
  }
}
