.card__paragraph {
  margin: 0;
  font-weight: 400;
  line-height: 163%;
  font-size: 18px;
  padding-top: 26px;
}

.card__paragraph:first-child {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .card__paragraph {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 768px) {
  .card__paragraph {
    font-size: 2vw;
  }
}

@media screen and (max-width: 425px) {
  .card__paragraph {
    padding-top: 25px;
    font-size: 5vw;
  }

  .card__paragraph:first-child {
    padding-top: 0;
  }
}
