.card__link {
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    transition: 0.5s linear;
    padding-top: 12px;
    display: block;
}

.card__link:hover {
    opacity: 0.5;
}