.card__title-part {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 76px;
    padding-bottom: 48px;
    max-height: 152px;
}

@media screen and (max-width:768px) {
    .card__title-part {
        min-height: 46px;
        overflow: visible;
    }
}

@media screen and (max-width:320px) {
    .card__title-part {
        min-height: 35px;
        flex-direction: column;
        padding-bottom: 32px;
    }
}