.list__item {
  font-weight: 700;
  line-height: 150%;
  font-size: 0.9vw;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .list__item {
    font-size: 1.1vw;
  }
}

@media screen and (max-width: 768px) {
  .list__item {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 425px) {
  .list__item {
    font-size: 3.7vw;
  }
}