.header {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-end;
    padding: 0 48px;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      padding: 0 24px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .header {
      margin-top: 16px;
      padding: 0 16px;
    }
  }