.header__language-links {
  display: flex;
  max-width: 74px;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 425px) {
  .header__language-links {
    max-width: 62px;
    align-self: flex-end;
    padding-bottom: 8px;
  }
}
