.header__language-links {
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    display: flex;
    max-width: 74px;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 425px) {
    .header__language-links {
      max-width: 62px;
      font-size: 1.1rem;
      align-self: flex-end;
    }
  }