.footer__link {
  color: white;
  text-decoration: none;
  margin-right: 18px;
  transition: 0.5s linear;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 32px;
    font-size: 7.5vw;
    line-height: 24px;
  }

  .footer__link:last-child {
    margin-bottom: 0;
  }
}
