.card__description {
    width: 484px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 400;
    padding-left: 40px;
}