.header__language-link_russian {
    max-width: 30px;
}

@media screen and (max-width: 425px) {
    .header__language-link_russian {
        max-width: 22px;
    }
}

.header__language-link_russian:hover {
    text-decoration: underline;
}