.header__illustration-text {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1.5px;  
    width: 158px;
    height: 14px;
    align-self: flex-start;
    margin: 0;
    padding: 8px 0 0 100px;
}

@media screen and (max-width: 1024px) {
    .header__illustration-text {
        padding: 8px 0 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .header__illustration-text {
        padding: 8px 0 0 16px;
    }
}