.card__image {
  width: 460px;
}

@media screen and (max-width:1024px) {
    .card__image {
      width: 440px;
    }
  }
  
  @media screen and (max-width:768px) {
    .card__image {
        width: 340px;
        height: 340px;
    }
  }
  
  @media screen and (max-width:425px) {
    .card__image {
        width: 100%;
        height: fit-content;
    }
  }