.card__image {
  width: 460px;
  padding-right: 40px;
}

@media screen and (max-width:1024px) {
    .card__image {
      width: 440px;
      padding-right: 32px;
    }
  }
  
  @media screen and (max-width:768px) {
    .card__image {
        width: 340px;
        height: 340px;
        padding-right: 28px;
    }
  }
  
  @media screen and (max-width:425px) {
    .card__image {
        width: 100%;
        height: fit-content;
        padding: 0;
    }
  }