.header__top-section {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 48px;
}

@media screen and (max-width: 768px) {
  .header__top-section {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .header__top-section {
    margin-top: 16px;
    padding: 0 16px;
  }
}
