.card__main-part {
    display: flex;
    flex-direction: row;
    height: 460px;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width:320px) {
    .card__main-part {
        flex-direction: column;
    }
}