.header__language-link_english {
  max-width: 30px;
  padding-left: 9px;
}

@media screen and (max-width: 425px) {
  .header__language-link_english {
    max-width: 22px;
  }
}

.header__language-link_english:hover {
  text-decoration: underline;
}
