.footer {
  margin: 92px 48px 24px;
  box-sizing: border-box;
  max-width: 1184px;
  max-height: 18px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin: 64px 0 24px 16px;
    max-height: 310px;
    max-width: fit-content;
    flex-direction: column;
    justify-content: space-between;
    min-height: 310px;
  }
}
