.card__title {
  font-size: 72px;
  font-weight: 900;
  width: 47%;
  margin: 0;
  line-height: 105%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .card__title {
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .card__title {
    line-height: 109%;
    font-size: 5.4vw;
  }
}

@media screen and (max-width: 425px) {
  .card__title {
    width: fit-content;
    font-size: 10vw;
    padding-left: 16px;
  }
}
