.header__title {
    margin: 56px 0 32px 0;
    font-size: 6rem;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    min-height: 200px;
    max-width: 720px;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    .header__title {
        max-width: 288px;
        min-height: 88px;
        font-size: 2.5rem;
        margin: 48px 0 16px 0;
    }
}