.header__title {
    margin: 56px 0 32px 0;
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0em;
    text-align: center;
    height: 200px;
    width: 720px;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    .header__title {
        max-width: 288px;
        max-height: 88px;
        font-size: 40px;
        margin: 48px 0 16px 0;
    }
}