.lead__illustration-text {
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.5px;
  width: 158px;
  align-self: flex-start;
  margin: 0;
  padding: 8px 0 0 100px;
}

@media screen and (max-width: 1024px) {
  .lead__illustration-text {
    padding: 8px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__illustration-text {
    padding: 8px 0 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__illustration-text {
    padding: 8px 0 0 16px;
  }
}
