.card {
    display: flex;
    flex-direction: column;
    margin: 0 0 80px 0;
    padding: 0;
    max-width: 984px;
    max-height: 660px;
    min-height: 584px;
    box-sizing: border-box;
}

.card:last-child {
    margin: 0;
}

@media screen and (max-width:1024px) {
    .card {
        max-width: 928px;
        min-height: 564px;
    }
}

@media screen and (max-width:768px) {
    .card {
        max-width: 720px;
        min-height: 434px;
        margin-bottom: 72px;
    }
}

@media screen and (max-width:320px) {
    .card {
        flex-wrap: wrap;
        max-width: 320px;
        min-height: 964px;
        /*padding: 0 0 50px 0;*/
        padding: 0;
        margin-bottom: 50px;
    }
}