.card__text_second-paragraph {
    margin: 0;
    padding-top: 26px;
    font-weight: 400;
}

@media screen and (max-width:425px) {
    .card__text_second-paragraph {
        padding-top: 25px;
    }
}